header{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    font-size: x-large;
}
header img{
    max-width: 8rem;
}
section nav{
    display: flex;
    flex-wrap: wrap;
    font-weight: 1000;
    font-size: large;
    font-style: bold;
    justify-content: center;
    align-content: space-around;
}
section a{
    padding: 2rem;
    border: 4px solid #0A5F00;
    background-color: #7EE6F2;
}
section a:hover{
    background-color: #1AACBC;
    color: white;
}
footer a{
    padding: .5rem;
    border: 4px solid #0A5F00;
    background-color: #7EE6F2;
}
footer a:hover{
    background-color: #1AACBC;
    color: white;
}
.contentsection{
    border: 2px solid #0A5F00;
    margin: 1rem;
}
.cover{
    width: 100%;
}
.project{
    margin-left: 1rem;
    margin-right: 1rem;
}
.option{
    background-color: white;
}
.head{
    background-color: #0A5F00;
    color: white;
}
.donation-form{
    display: grid;
    justify-content: center;
}
.articleimage{
    width: 90%;
    max-width: 1400px;
    justify-content: center;
}
.articleimagesmall{
    width: 100%;
    margin: 2rem;
    margin-left: 6rem;
    padding: 1rem;
}
body{
    background-color: #7dc2749f;
    font-family: 'Inter', sans-serif;
}
:root{ 
    font-family: 'Inter', sans-serif; 
}
@supports (font-variation-settings: normal){
:root { font-family: 'Inter var', sans-serif; }
}
article{
    background-color: #ececec;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    flex-wrap: wrap;
}
article img{
    justify-self: center;
}
.text-image{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}
.shorttext{
    width: 40%;
}
@media (max-width:980px){
    .text-image{
        display: grid;
    }
    .shorttext{
        width: 100%;
    }
    .articleimagesmall{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        font-size: small;
    }
    header img{
        max-width: 4rem;
    }
    section nav{
        display: flex;
        flex-wrap: wrap;
        font-weight: 1000;
        font-size: medium;
        font-style: bold;
        justify-content: center;
        align-content: space-around;
    }
    section a{
        padding: .5rem;
        border: 3px solid #0A5F00;
        background-color: #7EE6F2;
    }
    section a:hover{
        background-color: #1AACBC;
        color: white;
    }
}